<nav class="navbar navbar-default navbar-inverse" class="container-fluid">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">At The Movies</a>
        </div>
        <!-- ul.nav.navbar-nav.navbar-left>li*2 -->
        <ul class="nav navbar-nav navbar-left">
            <li>
                <a href="#/list">List</a>
            </li>
            <li>
                <a href="#/about">About</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

    <!-- ng-outlet so movie-app.component.js knows where to place movieList and appAbout components -->
    <ng-outlet></ng-outlet>

</div>